#main {
  margin: auto;
  width: 50%;
  text-align: center;
  color: white;
  margin-top: 88px;
  font-family: 'Courgette', cursive;
}

#main p:first-of-type {
  font-size: 42px;
}

#main p:nth-of-type(2) {
  font-size: 34px;
  margin-top: 34px;
}

#main p:nth-of-type(3) {
  font-size: 34px;
}

#subscribe {
  margin: auto;
  width: 50%;
  text-align: center;
  color: white;
}

#subscribe p {
  font-size: 20px;
}

#subscribe form {
  font-size: 14px;
  text-align: center;
}

input[type='submit'] {
  color: black;
}

input[type='text'] {
  color: black;
  font-size: 14px;
}
